/* font library */
@font-face{
    font-family: walshiem;
    src: url(GT-Walsheim-Regular-Trial.woff2);
}

/* background settings and formatting */
body {
    background-color: #27241D;
    margin-left:auto;
    margin-right:auto;
    width: 60%;
    /* fonts settings */
    color: #d3cec4;
    font-family: walshiem;
}

/* navigation settings */
nav ul {
    list-style-type: none;
    overflow: hidden;
    line-height: 0px;
    margin: 0;
    padding: 0;
}

nav li{
    display: inline;
}

nav li a, .dropbtn{
    color: #b8b2a7;
    padding: 20px 20px;
    display: inline-block;
    text-decoration: none;
}

nav .active{
    color: white;
}

/* hover colour */
li a:hover, .dropdown:hover .dropbtn {
    color: #faf9f7;
}

li.dropdown {
    display: inline-block;
}

/* dropdown settings */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    /* dropdown menu colour */
    background-color: #857f72;
}

.dropdown-content a {
    padding: 20px 20px;
    text-decoration: none;
    display: block;
    text-align: left;
    /* dropdown text colour */
    color: #e8e6e1;
}

/* dropdown hover colour */
.dropdown-content a:hover {
    background-color: #b8b2a7;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

footer{
    text-align: right;
    width: 90%;
}

/* table settings */
table, th, td{
    text-align: left;
    border-collapse: collapse;
    border: 1px solid black;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

/* tools table colour */
#t1 tr:nth-child(even){
    background-color: #625d52;
}

#t1 tr:nth-child(odd){
    background-color: #504a40;
}

#t1 th {
    background-color: #423d33;
}

/* images settings */
#selfie{
    width: 300px;
    padding-right: 10px;
    margin-left: 10px;
}

#fablab{
    width: 300px;
}